# LLM Server Configuration
LLM_PORT=8000
LLM_API_KEY=prompt-paper
LLM_MODEL=openai/gpt-oss-20b

# Embedding Server Configuration
EMBEDD_PORT=8001
EMBEDD_API_KEY=prompt-paper
EMBEDD_MODEL=Qwen/Qwen3-Embedding-4B
