pypdf~=6.0.0
tiktoken~=0.11.0
spacy~=3.8.7
nb-core-news-md @ https://github.com/explosion/spacy-models/releases/download/nb_core_news_md-3.4.0/nb_core_news_md-3.4.0-py3-none-any.whl
transformers~=4.55.4
torch~=2.8.0
torchmetrics~=1.8.2
scikit-learn~=1.7.1
plotly~=6.3.0
nbformat~=5.10.4
openai>=1.0.0
python-dotenv~=1.1.1
numpy~=2.2.0
umap-learn~=0.5.9
matplotlib~=3.10.5
hdbscan~=0.8.40
seaborn~=0.13.2
deap~=1.4.3
conllu~=6.0.0